body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: url('assets/bg.jpeg') no-repeat center top;
    background-size: cover;
    font: menu;
    height: 100vh;
}

*{
    box-sizing: border-box;
}

.login-box{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: 1000;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;

    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box button{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    display: block;
    text-align: center;
}

.login-box a:hover{
    color: #fff;
}

.login-box hr{
    background: #333;
    border: none;
    height: 1px;
}